<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="public/style.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="public/main.js"></script>

</head>

<body ng-app="main">
  <div id="intro">
    <navbar></navbar>
    <ui-view></ui-view>
  </div>
  <!-- jQuery -->
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
