* {
  box-sizing: border-box; }
.navbar-brand{
  color: white;
}
.nav a{
  color: white;
}

input {
  margin-bottom: 1000px; }

#login-form {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px; }

.hgroup {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin-top: 4em;
  font-weight: 300;
  color: #636363; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  background: #fafafa;
  color: #636363;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  outline: none; }

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  transition: all 0.15s ease; }

.button:focus {
  outline: 0; }

.buttonBlue {
  background: #4a89dc;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, 0.5); }

.buttonBlue:hover {
  background: #357bd8; }

.dashboard-container {
  margin: 80px; }
